@font-face {
  font-family: "WorkSans";
  src: url(./assets/fonts/WorkSans-VariableFont_wght.ttf);
}

/* @font-face {
  font-family: "WorkSans";
  src: url(./assets/fonts/static/WorkSans-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "WorkSans";
  src: url(./assets/fonts/static/WorkSans-Bold.ttf);
  font-weight: 800;
} */

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "WorkSans";
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url(./assets/images/background-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-color: hsl(275, 100%, 97%);
}

main {
  background-color: white;
  margin: 8rem 1.5rem;
  border-radius: 0.5rem;
  padding: 30px 20px 20px;
  box-shadow: 3px 3px 20px rgba(44, 43, 43, 0.205);
}

header {
  display: flex;
  gap: 20px;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 20px;
}

header img {
  width: 20px;
}

hr {
  margin: 20px 0;
  border-color: rgba(255, 255, 255, 0.268);
  border-width: 1px 0 0 0;
}

.contentBox {
  margin-bottom: 10px;
}

.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 20px;
  cursor: pointer;
}

.question:hover {
  color: hsl(276, 77%, 52%);
}

.answer {
  font-size: 14px;
  line-height: 1.3;
  text-align: justify;
  color: hsl(276, 27%, 51%);
  height: 0;
  overflow: hidden;
  transition: 0.5s;
}

.question-active {
  color: hsl(276, 77%, 52%);
}

.expand {
  height: 5.75rem;
}

@media (min-width: 376px) {
  body {
    background-image: url(./assets/images/background-pattern-desktop.svg);
    background-repeat: repeat-x;
  }
  main {
    margin: 10rem 2rem;
  }
}

@media (min-width: 700px) {
  main {
    max-width: 650px;
  }

  header img {
    width: 100%;
  }

  header {
    font-size: 50px;
  }

  .question {
    font-size: 18px;
  }

  .question img {
    width: 40px;
  }

  .answer {
    font-size: 16px;
  }
}
